h4, input {
  margin: 0;
  padding: 0;
}

.main-section-container {
  display: flex;
  height: 560px;
}

.option-list-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-image: linear-gradient(rgb(18, 18, 70), rgb(1, 104, 136));
  font-size: 14px;
}

.option-list-label {
  display: flex;
  color: white;
  height: 5%;
  margin-top: 5%;
  margin-left: 5%; 
}

.icon-config {
  margin-right: 4%;
}

.option-list-button {
  background-color: rgb(18, 18, 70);
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 5%;
  margin-top: 3%;
  font-size: 13px;
  text-align: left;
}

.option-list-button:hover {
  background-color: rgb(69, 69, 133);
}

.main-section-content-container {
  width: 78%;
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
}

.main-section-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(18, 18, 70);
  height: 25px;
  width: 100%;
  color: rgb(18, 18, 70);
  font-weight: normal;
}

.main-section-content-table-container {
  margin-top: 1%;
  padding-bottom: 2%;
  height: 85%;
  background-color: rgb(247, 242, 242);
  box-shadow: 2px 2px gray;
}

.input-table {
  display: flex;
  align-items: center;
  padding-left: 2%;
  padding-top: 2%;
  margin-bottom: 1%;
}

.input-building-table {
  margin-right: 0.5%;
  color: rgb(18, 18, 70);
  font-size: 14px;
}

.input-workplace-table {
  color: rgb(18, 18, 70);
  font-size: 14px;
  margin-right: 0.5%;
}

.select-table {
  width: 175px;
  height: 25px;
  margin-top: 3%;
}

.inputText-table {
  width: 175px;
  height: 21px;
  margin-top: 3%;
  margin-right: 1%;
}

.add-button {
  align-self: flex-end;
  height: 25px;
  background-color: white; 
  border: 1px solid rgb(104, 104, 131);
  text-decoration: none;
  display: inline-block;
}

.add-button:hover {
  background-color: rgb(69, 69, 133);
}

.table {
  padding-left: 2%;
}

.table-title {
  width: 172px;
  height: 25px;
  font-size: 15px;
  font-weight: normal;
  background-color: rgb(18, 18, 70);
  color:white;
}

.table-title-none {
  width: 60px;
  height: 25px;
  background-color: rgb(18, 18, 70);
}

.table-row {
  width: 172px;
  height: 25px;
  font-size: 15px;
  font-weight: normal;
  color:rgb(18, 18, 70);
  text-align: center;
  border: 1px solid rgb(163, 163, 175);
}

.table-row-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  border: 1px solid rgb(163, 163, 175);
}

.table-row-updating {
  width: 172px;
  height: 25px;
  font-size: 15px;
  font-weight: normal;
  color:rgb(18, 18, 70);
  text-align: center;
  border: 1px solid rgb(163, 163, 175);
}
